::-webkit-input-placeholder { /* WebKit browsers */
	color:    #F3C4CB;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #F3C4CB;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #F3C4CB;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #F3C4CB;
}

input {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.page-wrap{
	padding-top: 40px;
	color: #F3F3F3;
}

.time{
	font-size: 6em;
}


.control-buttons{
	margin-top: 20px;
}

.control-buttons *{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.quick-bookmark-button:hover{
	background: rgba(255,255,255,0.1);
}

.control-button{
	margin: 0 5px;
	margin-bottom: 10px;
}

.interval-button{
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 80px;
	/*border: 2px solid #F3F3F3;*/
	cursor: pointer;
	border-radius: 20px;
}

.startstop-icon{
	position: absolute;
	width: 60px;
	height: 60px;
	top: 10px;
	left: 3%;
}

.ssi{
	font-size: 6em;
	position: absolute;
	left: -30%;
	top: -20%;
}

.ssi-play{
	font-size: 4em;
	top: 5%;
	left: 0%;
}

.ssi-stop{
	opacity: 0;
	left: -20%;
}

.interval-text{
	position: absolute;
	right: 0;
	font-size: 3em;
	width: 80%;
	height: 100%;
	line-height: 80px;
	text-align: center;
	display: none;
}

.it-1{
}

.it-2{
	opacity: 0;
}

.quick-bookmark-button{
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 2px solid #F3F3F3;
	cursor: pointer;
	border-radius: 20px;
}

.qbm{
	position: relative;
	top: 11px;
	font-size: 4em;
}

.interval-comment{
	box-sizing: border-box;
	display: inline-block;
	width: 95%;
	height: 84px;
	border: 2px solid #F3F3F3;
	border-radius: 20px;
	font-size: 2em;
	color: #F3F3F3;
	padding-left: 70px;
	background: rgba(255,255,255,0);
	cursor: pointer;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}


#stack{
	margin-top: 50px;
}

.bookmark *{
	display: inline-block;
	font-size: 2em;
}

.bookmark{
	width: 85%;
	margin: 0 auto;
	position: relative;
}

.bookmark-start-time{
	position: absolute;
	left: 0;
}

.bookmark-end-time{
	position: absolute;
	left: 100px;
}

.bookmark-icon{
	position: absolute;
	font-size: 1.5em;
	cursor: pointer;
}

.bookmark-delete{
	right: 0;
}

.bookmark-edit{
	right: 60px;
}

.bookmark-check{
	right: 75px;
	font-size: 1.5em;
	display: none;
}

.bookmark-comment{
	position: relative;
	text-align: left;
}

.bookmark-divider{
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 50px;
	width: 90%;
	height: 1px;
	background: #F3B8A8;
}

.lecture-title{
	font-size: 2.5em;
}

.tags{
	text-align: center;
	width: 95%;
	margin: 10px auto;
	height: 0;
	overflow: hidden;
}

.tag{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 60px;
	line-height: 60px;
	border-radius: 10px;
	background: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.4);
	cursor: pointer;
	text-align: center;
	font-size: 1.5em;
	margin: 4px 2px;
}

.tag-toggle{
	background: rgba(255,255,255,0.4);
}

.tag-selected{
	display: none;
}

.tag-comment{
	position: relative;
	font-size: .8em;
	vertical-align: top;
	width: 220px;
	height: 60px;
	line-height: 60px;
	border-radius: 10px;
	background: rgba(255,255,255,0.1);
	text-align: center;
	margin: 4px 2px;
}

.tag-close{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0.7em;
	visibility: hidden;
}

.tag-close-edit{
	visibility: visible;
}

.tag-comment-point{
	cursor: pointer;
}





/*
.podcats-button{
	position: relative;
	display: inline-block;
	font-size: 3em;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 100%;
	border: 2px solid #F3F3F3;
	margin: 20px 20px;
	cursor: pointer;
}

.control-button:hover{
	background: rgba(255,255,255,0.3);
}
*/