/* fonts for days */
@font-face {
	font-family: openlight;
	src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
	font-family: openlight_IE;
	src: url('../fonts/OpenSans-Light.eot');
}

@font-face {
	font-family: openregular;
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: openregular_IE;
	src: url('../fonts/OpenSans-Regular.eot');
}

@font-face {
	font-family: opensemi;
	src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
	font-family: opensemi_IE;
	src: url('../fonts/OpenSans-Semibold.eot');
}

@font-face{
	font-family: robothin;
	src: url('../fonts/Roboto-Thin.ttf');
}

@font-face{
	font-family: robothin_IE;
	src: url('../fonts/Roboto-Thin.eot');
}

@font-face{
	font-family: robocon;
	src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face{
	font-family: robocon_IE;
	src: url('../fonts/RobotoCondensed-Regular.eot');
}


/* general  */
* {
	font-family: openlight, openlight_IE, Calibri;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.editable {
	-webkit-touch-callout: auto !important;
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	outline: none;
}


a {
	text-decoration: none;
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

a:active {
	color: black;
}

a:hover {
	color: #f15d2f;
}

.hidden-link{
	display: none;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	outline: none;
}

.link-button{
	cursor: pointer;
}


html, body {
	height: 100%;
	width: 100%;
	/*min-width: 1080px;*/
	padding: 0;
	margin: 0;
	font-size: 14px;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	/*background-color: #FFAF30;*/
	background: #FF8856;
	position: relative;
}

/* NAVIGATION STYLE */
.navigation{
	width: 100%;
	position: fixed;
	height: 70px;
	/*background-color: #FFAF30;*/
	background: #FF8856;
	z-index: 9999;
}

.back-button{
	position: absolute;
	left: 15px;
	top: 6px;
	width: 33px;
	height: 22px;
	cursor: pointer;
	color: #F3F3F3;
	font-size: 3.5em;
	z-index: 2;
}

.refresh-button{
	position: absolute;
	left: 75px;
	top: 6px;
	width: 33px;
	height: 22px;
	cursor: pointer;
	color: #F3F3F3;
	font-size: 3.5em;
	z-index: 2;
}



.hamburger-button{	
	position: absolute;
	left: 142px;
	top: 24px;
	width: 40px;
	height: 22px;
	cursor: pointer;
	z-index: 2;
}

.burger-line{
	position: absolute;
	background: #FFFFFF;
	width: 100%;
	height: 4px;	
}

.burger-1{
	top: 0;
}
.burger-2{
	top: 9px;
}
.burger-3{
	bottom: 0;
}

.nav-logo{
	width: 300px;
	margin: 0 auto;
	text-align: center;
	line-height: 60px;
	color: #FFFFFF;
	font-size: 4em;
	z-index: 0;
}

.logo-bold{
	font-family: opensemi, opensemi_IE, Calibri;
}

.navigation-expand{
	width: 100%;
	background: #f3f3f3;
	position: fixed;
	top: 70px;
	height: 0px;
	overflow: hidden;
	line-height: 160px;
	text-align: center;
	z-index: 9999;
}

.navigation-button{
	text-align: center;
	display: inline-block;
	color: #a0a0a0;
	line-height: 30px;
	font-size: 3em;
	margin: 0 4vw;
	cursor: pointer;
}

.nav-icon-text{
	font-size: .4em;
}

.navigation-button:hover{
	color: #353535;
}

/* PAGE GENERAL STYLES */
.page-wrap{
	position: relative;
	width: 100%;
	top: 60px;
	text-align: center;
}


/* HOME PAGE STYLES */

.course{
	position: relative;
	width: 100%;
	height: 150px;
	line-height: 150px;
	/*border-bottom: 1px solid #FFC150;*/
	border-bottom: 1px solid #FFA393;
	overflow: hidden;
	font-size: 3.5em;
	color: #ffffff;
	font-family: robothin, robothin_IE, Calibri;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.course-tag{
	position: absolute;
	right: 0;
	top: 65px;
	width: 45px;
	height: 20px;
	background: rgba(255,255,255,0.2);
}

.course-expand{
	display: none;
	position: absolute;
	background: #353535;
	width: 100%;
	height: 0px;
	bottom: 0;
	color: #565656;
	font-size: 14px;
}

.course-expand-1{
	position: absolute;
	top: 0;
	background: #e5e5e5;
	width: 100%;
	-ms-transform-origin: top;
	-webkit-transform-origin: top;
	transform-origin: top;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	border-top: 142px solid transparent;
	border-right: 10px solid #353535;
	border-left: 10px solid #353535;
	cursor: pointer;
}


.course-expand-2{
	position: absolute;
	bottom: -35px;
	background: #f3f3f3;
	width: 100%;
	height: 142px;
	-ms-transform-origin: bottom;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-bottom: 142px solid transparent;
	border-right: 7px solid #353535;
	border-left: 7px solid #353535;
	cursor: pointer;
}

.ce1-text{
	position: absolute;
	width: 100%;
	height: 142px;
	top: -160px;
	font-size: 2em;
	line-height: 142px;
}

.ce2-text{
	position: absolute;
	width: 100%;
	height: 142px;
	top: 0px;
	font-size: 2em;
	line-height: 117px;
}

.ce1-sub{
	position: absolute;
	width: 100%;
	bottom: 35px;
	color: #DE3721;
	font-size: .55em;
	line-height: 0;
	font-weight: bold;
}

.ce1-sub-ex{
	color: #0EB527;
}

.course-tag-ex{
	background: #FFFFFF;
	box-shadow: 0px 0px 20px #FFFFFF;
}

/* SETTINGS PAGE */



.setting-group{
	position: relative;
	width: 85%;
	margin: 0 auto;
	border-bottom: 1px solid #F3B59A;
	padding-bottom: 30px;
	margin-top: 40px;
}

.setting-label{
	font-family: openregular, openregular_IE, Calibri;
	font-size: 2em;

}

.setting-toggle{
	display: inline-block;
	position: relative;
	font-size: 2.2em;
	width: 50px;
	height: 50px;
	line-height: 55px;
	border: 2px solid rgba(255,255,255,0.25);
	color: rgba(255,255,255,0.15);
	box-shadow: 0px 6px 0px rgba(255,255,255,0.25);
	border-radius: 100%;
	margin: 0 30px;
	margin-top: 20px;
	cursor: pointer;
	background: rgba(0,0,0,0.0);
	top: -6px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.setting-selected{
	border: 2px solid rgba(255,255,255,0.9);
	color: rgba(255,255,255,0.9);
	box-shadow: 0px 0px 5px rgba(255,255,255,0.9);
	background: rgba(255,255,255,0.2);
	top: 0px;
}


.toggle-text{
	position: absolute;
	opacity: 0;
}

/* HELP PAGE */

.help-holder{
	font-size: 3em;
	margin-top: 50px;
}

.help-section{
	width: 85%;
	margin: 0 auto;
}

.help-title{
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: 20px;
}

.help-point{
	text-align: left;
	width: 100%;
	font-size: 1.7em;
	margin: 20px 0;
	font-weight: bold;
}

.help-sub-point{
	font-size: .8em;
	font-weight: normal;
	color: #f3f3f3;
}


