@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-b375hq');
	src:url('fonts/icomoon.eot?#iefix-b375hq') format('embedded-opentype'),
		url('fonts/icomoon.woff?-b375hq') format('woff'),
		url('fonts/icomoon.ttf?-b375hq') format('truetype'),
		url('fonts/icomoon.svg?-b375hq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e604";
}

.icon-film:before {
	content: "\e601";
}

.icon-podcast:before {
	content: "\e602";
}

.icon-cog:before {
	content: "\e605";
}

.icon-switch:before {
	content: "\e606";
}

.icon-close:before {
	content: "\e600";
}

.icon-question:before {
	content: "\e607";
}

.icon-list:before {
	content: "\e603";
}

