<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=.6">
	<link rel="stylesheet" type="text/css" href="./style/style.css">
	<link rel="stylesheet" type="text/css" href="./style/lecturesstyle.css">
	<link rel="stylesheet" type="text/css" href="./icomoon/style.css">
	<link rel="icon" href="./assets/icon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="./assets/icon.ico" type="image/x-icon" />
	<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script src="./js/jquery.ba-dotimeout.min.js"></script>
	<script src="./js/velocity.min.js"></script>
	<script src="./js/nav-animation.js"></script>
	<script src="./js/common-animation.js"></script>
	<script src="./js/course-fold.js"></script>
	<script src="./js/importnav.js"></script>
	<script src="./js/rename.js"></script>
	<title>PodCats | Class</title>
</head>

<body>
	<script type="text/javascript">
	importnav();
	</script>
	<div class="page-wrap">
		{{#each this.archive}}
		<div class="course course-1">
			<div class="lecture-name editable">
					{{name}}
			</div>
			<div class="lecture-date">
				{{id}} 
			</div>
			<div class="course-expand">
				<div class="course-expand-1">
					<div class="ce1-text">
						<div class="rename-text">
							Rename
						</div>
					</div>
				</div>
				<div class="course-expand-2">
					<div class="ce2-text">
						Watch
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	

</body>
</html>

