<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=.6">
	<link rel="stylesheet" type="text/css" href="./style/style.css">
	<link rel="stylesheet" type="text/css" href="./style/podcastit.css">
	<link rel="stylesheet" type="text/css" href="./icomoon/style.css">
	<link rel="icon" href="./assets/icon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="./assets/icon.ico" type="image/x-icon" />
	<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script src="./js/jquery.ba-dotimeout.min.js"></script>
	<script src="./js/velocity.min.js"></script>
	<script src="./js/nav-animation.js"></script>
	<script src="./js/common-animation.js"></script>
	<script src="./js/course-fold.js"></script>
	<script src="./js/importnav.js"></script>
	<title>PodCats | Help</title>
</head>

<body>
	<script type="text/javascript">
	importnav();
	</script>
	<div class="page-wrap">

		<!-- <div class="help-holder">This page is coming soon!</div> -->
		<div class="help-section">
			<div class="help-title">
				Marking a lecture with PodCats
			</div>
			<div class="help-point">
				1. <span class="icon-bolt"></span> Quickmark - <span class="help-sub-point">when PodCatsing a lecture, simply press the lightning bolt button to quickly mark a point in lecture. The only information that will be saved with a quickmark is the time at which you pressed it.</span>
			</div>
			<div class="help-point">
				2. <span class="icon-bookmark"></span> Bookmark - <span class="help-sub-point">pressing the regular bookmark button will allow you to mark an interval in the lecture. The first click will open up the comment dialog to add any details you want to be associated with the marked interval. A second click to end the mark will save your marked interval.</span>
			</div>
		</div>

	</div>


</body>
</html>

