<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=.6">
	<link rel="stylesheet" type="text/css" href="./style/loginstyle.css">
	<link rel="icon" href="./assets/icon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="./assets/icon.ico" type="image/x-icon" />
	<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script src="./js/velocity.min.js"></script>
	<script src="./js/loginanimation.js"></script>
	<script src="./js/common-animation.js"></script>
	<title>PodCats</title>
</head>

<body>
	<div class="wrapper">
		<div class="logo-text">
			<span class="lt-bold">POD</span>CATS
		</div>
		<div class="cat-player">
			<img class="cat" alt="cat" src="./assets/white_cat.png">
			<div class="time-bar">
				<div class="block b-1"></div>
				<div class="block b-2"></div>
				<div class="line"></div>
			</div>
		</div>
		<div class="user-info">
			<input type="text" class="the-input ti-1">
			<div class="the-text">Username</div>
		</div>
		<div class="user-info ui-2">
			<input type="password" class="the-input ti-2">
			<div class="the-text">Password</div>
		</div>
		
		<div class="button login">LOGIN
			<a class="hidden-link"></a>
		</div>
		<div class="button signup">SIGN UP</div>
		<script type="text/javascript">
			$(".login").click(function() {
				var username = $(".ti-1").val();
				var password = $(".ti-2").val();
				$.post("/validate?username="+username+"&password="+password, function(result){
					if(result["1"] && result["2"])
						window.location.replace("/classes");
					else {
						alert("INVALID CREDENTIALS!");
						return;
					}
				});
			});
		</script>

	</div>
</body>
</html>

