.page-wrap{
	padding-top: 75px;
	color: #F3F3F3;
}

.time{
	font-size: 5em;
}

.podcats-button{
	position: relative;
	display: inline-block;
	font-size: 3em;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 100%;
	border: 2px solid #F3F3F3;
	margin: 20px 20px;
	cursor: pointer;
}

.podcats-button:hover{
	background: rgba(255,255,255,0.3);
}

.bookmark *{
	display: inline-block;
	margin: 0 10px;
	font-size: 2em;
}
